body {
    background-color: rgb(58, 58, 58);
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.yt-logo {
    width: 50px;
    height: 50px;
    padding: 10px;
}

.yt-logo:hover {
    transform: translateY(10%);
    transition: all ease-in-out 250ms;
}

.twitter-logo {
    width: 100px;
    height: 100px;
    padding: 10px;

}

.twitter-logo:hover {
    transform: translateY(10%);
    transition: all ease-in-out 250ms;
}

.github-logo {
    width: 50px;
    height: 50px;
    padding: 10px;
}

.github-logo:hover {
    transform: translateY(10%);
    transition: all ease-in-out 250ms;
}

.discord-logo {
    width: 50px;
    height: 50px;
    padding: 10px;
}

.discord-logo:hover {
    transform: translateY(10%);
    transition: all ease-in-out 250ms;
}

.back-arrow {
    width: 60px;
    float: top;
    height: 40px;
}

.back-arrow:hover {
    transform: translateY(20%);
    transition: ease-in-out all 250ms;
}