:root {
    font-size: 16px;
    font-family: 'Open Sans';
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #23232e;
    --bg-secondary: #141418;
    --transition-speed: 600ms;
  }

body {
    color: white;
    background: black;
}

#link {
width: 2rem;
    min-width: 10rem;
    margin: 0 1.5rem;
    color: gray;
}

.yt-icon svg{
    width: 4rem;
    color: red;
}

.twitter-icon svg {
    width: 4rem;
    color: rgb(0, 153, 255);
}

.github-icon svg {
    color: white;
    width: 4rem;
}

.discord-icon svg {
    color: #5865F2;
    width: 5rem;
}

.yt-icon:hover,
.twitter-icon:hover,
.github-icon:hover,
.discord-icon:hover {
    transform: translateY(10%);
    transition: ease 200ms;
}

#back-arrow {
    width: 3rem;
}

#back-arrow:hover {
    transform: translateY(10%);
    transition: ease 200ms;
    cursor: pointer;
}