body {
    background: #000000;
    color: #ffffff;
    font-family: 'Segoe UI';
    margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
  }

.nav__links {
    list-style: none;
    display: flex;
    float: right;
  }
  
  .nav__links a,
  .cta,
  .overlay__content a {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    text-decoration: none;
    cursor: pointer;
  }
  
  .nav__links li {
    padding: 0px 20px;
  }
  
  .nav__links li a {
    transition: all 0.3s ease 0s;
  }
  
  .nav__links li a:hover {
    color: #0088a9;
  }

  .nav__links__mobile {
    list-style: none;
    float: right;
    display: none;
    padding-left: 100%;
  }
  
  .nav__links__mobile a,
  .overlay__content a {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    text-decoration: none;
    cursor: pointer;
  }
  
  .nav__links__mobile li {
    padding: 0px 20px 5px;
  }
  
  .nav__links__mobile li a {
    transition: all 0.3s ease 0s;
  }
  
  .nav__links__mobile li a:hover {
    color: #0088a9;
  }
  
  #moon_a {
    display: none;
  }
  
  #moon_a_mobile {
    display: none;
  }

.err {
    width: 100%;
    margin: auto;
    background: #333333;
    line-height: 25px;
    padding: 2px;
}

@media (max-width: 511px) { /*Navbar*/
  .nav__links {
    display: none;
  }

  .nav__links__mobile {
    display: block;
  }
}