:root {
    --main-colour: #00a5ce;
    --secondary-colour: #1f73ac;
  }
  
  a {
  text-decoration: none;
  color: inherit;
  }
  
  body {
      background: black;
      color: white;
      margin: 0;
      font-family: 'Segoe UI';
    }
  
    .nav__links {
      list-style: none;
      display: flex;
      float: right;
    }
    
    .nav__links a,
    .cta,
    .overlay__content a {
      font-family: "Montserrat", sans-serif;
      font-weight: 500;
      text-decoration: none;
      cursor: pointer;
    }
    
    .nav__links li {
      padding: 0px 20px;
    }
    
    .nav__links li a {
      transition: all 0.3s ease 0s;
    }
    
    .nav__links li a:hover {
      color: #0088a9;
    }
    
    .current {
      padding: 9px 25px;
      background-color: rgba(0, 136, 169, 1);
      border: none;
      border-radius: 50px;
      cursor: pointer;
      transition: all 0.3s ease 0s;
      color: #ffffff;
    }
    
    .current:hover {
      background-color: rgba(0, 136, 169, 0.8);
    }

    .nav__links__mobile {
      list-style: none;
      float: right;
      display: none;
      padding-left: 100%;
    }
    
    .nav__links__mobile a,
    .overlay__content a {
      font-family: "Montserrat", sans-serif;
      font-weight: 500;
      text-decoration: none;
      cursor: pointer;
    }
    
    .nav__links__mobile li {
      padding: 0px 20px 5px;
    }
    
    .nav__links__mobile li a {
      transition: all 0.3s ease 0s;
    }
    
    .nav__links__mobile li a:hover {
      color: #0088a9;
    }
  
    .current_mobile {
      background: #0088a9;
      padding: 3px;
    }
    
    #moon_a {
      display: none;
    }
    
    #moon_a_mobile {
      display: none;
    }
  
    main {
        margin: 1%;
    }  
  
    ::-webkit-scrollbar {
      width: 0.50rem;
    }
    
    ::-webkit-scrollbar-thumb {
      background: var(--main-colour);
    }

      .navigation {
          background-color: white;
          color: black;
          width: 12%;
      }

      .navigation li:hover {
          font-weight: 700;
          transition: ease-in-out 100ms;
      }

      #quote:hover:after {
        content: ' - Blue Crafter 2020';
        opacity: 0.5;
      }

      #first-vid {
        color: #3ab0ff;
      }

      #blue2c-abt {
        color: #00a5ce;
      }

      .inspiration {
        list-style-type: square;
        width: 11%;
        border: 3px solid var(--secondary-colour);
        border-radius: 16px;
      }

      .inspiration li:hover {
        font-weight: 700;
        transition: ease-in-out 100ms;
      }

      .inspiration li::marker {
        color: var(--secondary-colour);
      }
      
      .darkmode {
        background: #ffffff;
        color: #000000;
        transition: ease-in-out 200ms;
      }

      @media (max-width: 590px) { /*Navbar*/
        .nav__links {
          display: none;
        }
      
        .nav__links__mobile {
          display: block;
        }
      }

  @media (max-width: 1107px) {
    /*All screens that cant see inspiration border*/
        .inspiration {
          border: none;
        }
      }

      @media (max-width: 820px) {
        /*All screens that cant see navigation background*/
        .navigation {
          width: 100px;
        }
      }