:root {
    --main-colour: #00a5ce;
    --secondary-colour: #1f73ac;
  }
  
  a {
  text-decoration: none;
  color: inherit;
  }

body {
    margin: 0;
    background: black;
    color: white;
    font-family: 'Segoe UI';
}

::-webkit-scrollbar {
    width: 0.50rem;
  }
  
  ::-webkit-scrollbar-thumb {
    background: var(--main-colour);
  }

  .nav__links {
    list-style: none;
    display: flex;
    float: right;
  }
  
  .nav__links a,
  .cta,
  .overlay__content a {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    text-decoration: none;
    cursor: pointer;
  }
  
  .nav__links li {
    padding: 0px 20px;
  }
  
  .nav__links li a {
    transition: all 0.3s ease 0s;
  }
  
  .nav__links li a:hover {
    color: #0088a9;
  }
  
  .current {
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    color: #ffffff;
  }
  
  .current:hover {
    background-color: rgba(0, 136, 169, 0.8);
  }

  .nav__links__mobile {
    list-style: none;
    float: right;
    display: none;
    padding-left: 100%;
  }
  
  .nav__links__mobile a,
  .overlay__content a {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    text-decoration: none;
    cursor: pointer;
  }
  
  .nav__links__mobile li {
    padding: 0px 20px 5px;
  }
  
  .nav__links__mobile li a {
    transition: all 0.3s ease 0s;
  }
  
  .nav__links__mobile li a:hover {
    color: #0088a9;
  }

  .current_mobile {
    background: #0088a9;
    padding: 3px;
  }

  #sun {
    width: 20px;
    margin-top: 2px;
  }
  
  #moon {
    width: 20px;
    margin-top: 2px;
  }
  
  #moon_a {
    display: none;
  }

  #moon_a_mobile {
    display: none;
  }

  main {
      margin: 1%;
  }

.youtube {
  margin-right: 10%;

}

  .youtubeicon {
      width: 5rem;
      color: #ff0000;
  }

  .youtubeicon:hover {
      transform: translateY(5%);
      transition: ease-in-out 100ms;
      cursor: pointer;
  }

  .youtube #menu {
    display: none;
    background: rgb(70, 70, 70);
    margin: auto;
    width: 15%;
    padding: 0;

  }

  .youtube #menu p {
    margin: 0;
    color: #ffffff;
 }

  .youtube #menu p:hover {
    transition: ease-in-out 100ms;
     text-decoration: underline;
     background: #00a5ce;
  }

  .github {
    margin-left: 10%;
  }

  .githubicon {
    width: 5rem;
  }

  .githubicon:hover {
    transform: translateY(5%);
      transition: ease-in-out 100ms;
  }

  .discord {
    margin-right: 10%;
  }

  .discordicon {
    width: 5rem;
    color: #5865F2;
  }

  .discordicon:hover {
    transform: translateY(5%);
      transition: ease-in-out 100ms;
  }

  .twitter {
    margin-left: 10%;
  }

  .twittericon {
    width: 5rem;
    color: #1DA1F2;
  }

  .twittericon:hover {
    transform: translateY(5%);
      transition: ease-in-out 100ms;
  }
  
  .darkmode {
    background: white;
    color: #000000;
    transition: ease-in-out 200ms;
  }

  @media (max-width: 511px) { /*Navbar*/
    .nav__links {
      display: none;
    }
  
    .nav__links__mobile {
      display: block;
    }
  }