:root {
  --main-colour: #00a5ce;
  --secondary-colour: #1f73ac;
}

a {
text-decoration: none;
color: inherit;
}

.darkmode {
  background: white;
  color: #000000;
  transition: ease-in-out 200ms;
}

body {
    background: black;
    color: white;
    margin: 0;
    font-family: 'Segoe UI';
  }

  .nav__links {
    list-style: none;
    display: flex;
    float: right;
  }
  
  .nav__links a,
  .cta,
  .overlay__content a {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    text-decoration: none;
    cursor: pointer;
  }
  
  .nav__links li {
    padding: 0px 20px;
  }
  
  .nav__links li a {
    transition: all 0.3s ease 0s;
  }
  
  .nav__links li a:hover {
    color: #0088a9;
  }
  
  .current {
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    color: #ffffff;
  }
  
  .current:hover {
    background-color: rgba(0, 136, 169, 0.8);
  }

  main {
      margin-left: 1%;
  }  

  ::-webkit-scrollbar {
    width: 0.50rem;
  }
  
  ::-webkit-scrollbar-thumb {
    background: var(--main-colour);
  }

  .outbody {
    margin: 1%;
  }

  .container {
    margin: 1%;
  }


#sun {
  width: 20px;
  margin-top: 2px;
}

#moon {
  width: 20px;
  margin-top: 2px;
}

#moona {
  display: none;
}

#sub-count, #view-count, #video-count {
  display: none;
}