body {
    background: black;
    color: white;
    margin: 0;
    font-family: 'Segoe UI';
  }
    

  a {
      text-decoration: none;
      color: inherit;
      padding: 0px;
      }

  .darkmode {
      background: #ffffff;
      color: #000000;
      transition: ease 200ms;
    }

.nav__links {
  list-style: none;
  display: flex;
  float: right;
}

.nav__links a,
.cta,
.overlay__content a {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  text-decoration: none;
  cursor: pointer;
}

.nav__links li {
  padding: 0 20px 0 0;
}

.nav__links li a {
  transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
  color: #0088a9;
}

.current {
  padding: 9px 25px;
  background-color: rgba(0, 136, 169, 1);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  color: #ffffff;
}

.current:hover {
  background-color: rgba(0, 136, 169, 0.8);
}

.nav__links__mobile {
  list-style: none;
  float: right;
  display: none;
  padding-left: 100%;
}

.nav__links__mobile a,
.overlay__content a {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  text-decoration: none;
  cursor: pointer;
}

.nav__links__mobile li {
  padding: 0px 20px 5px;
}

.nav__links__mobile li a {
  transition: all 0.3s ease 0s;
}

.nav__links__mobile li a:hover {
  color: #0088a9;
}

.current_mobile {
  background: #0088a9;
  padding: 3px;
}

#moon_a {
  display: none;
}

#moon_a_mobile {
  display: none;
}

/************************************************/

main {
  margin: 1%;
}

.right {
  float: right;
}

.green {
  color: #13a527;
}

.picture {
  width: 550px;
}

.link_1 {
  color: #0088a9;
}

.link_1:hover {
  text-decoration: underline;
}

.picture {
  width: 550px;
}

@media (max-width: 590px) { /*Navbar*/
  .nav__links {
    display: none;
  }

  .nav__links__mobile {
    display: block;
  }
}